* {
  padding: 0;
  margin: 0;
  font-family: "Kufam", cursive;
}

body {
  background: #262626;
}

.navbar {
  position: relative;
  z-index: 200;
  margin: -8px;
}
.navbar-navigation {
  display: flex;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  left: -50vw;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}
.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}
.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}
.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #000;
  position: fixed;
  right: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
  transition: all 0.7s;
}
@media (max-width: 640px) {
  .navbar-navigation .nav-list-link {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .navbar-navigation .nav-list-link {
    font-size: 15px;
  }
}
.navbar-navigation .nav-list-link:hover {
  color: orange;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../images/bg.jpg") center no-repeat;
  background-size: cover;
}
.header .brand {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: orange;
}
.header-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: orange;
}
.header-banner:hover {
  color: #ffffff;
}
.header-banner button {
  background-color: orange;
  color: #ffffff;
}
.header-banner button:hover {
  color: orange;
  background-color: #ffffff;
}

.about-us {
  height: 50vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 1px;
  background-color: orange;
}
@media (max-width: 640px) {
  .about-us {
    height: 77vh;
  }
}
.about-us-left img {
  width: 80px;
  height: 80px;
}
.about-us-right {
  margin: 20px;
}
.about-us .stars h5 {
  margin: 0;
}
.about-us .star {
  color: gold;
}
.about-us button {
  margin-top: 10px;
  color: #ffffff;
}
.about-us button:hover {
  color: orange;
  background-color: #ffffff;
}

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: orange;
}
.footer-header {
  display: flex;
  align-items: center;
  padding-bottom: 70px;
}
.footer-social-media {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 70px;
}
.footer-social-media-item {
  list-style: none;
}
.footer-social-media-link {
  text-decoration: none;
}
.footer .footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-copyright-paragraph {
  text-align: center;
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 4%;
  right: 3%;
  z-index: 300;
}
.hamburger-menu .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: orange;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #a7a411;
}
.logo .logo-img {
  border-radius: 15px;
  height: 100px;
  width: 100px;
  margin: 5px;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.logo-text:hover {
  color: orange;
}
.logo-text h1 {
  font-weight: bold;
}

.card {
  width: 33.33%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}
.card:hover .card-overlay {
  left: 0;
}
.card-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(167, 164, 17, 0.6);
  color: #ffffff;
  z-index: 10;
  transition: left 0.5s;
}
.card-overlay-heading {
  font-size: 50px;
}
@media (max-width: 920px) {
  .card-overlay-heading {
    font-size: 30px;
  }
}
@media (max-width: 560px) {
  .card-overlay-heading {
    font-size: 20px;
  }
}
.card-overlay-paragraph {
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 920px) {
  .card-overlay-paragraph {
    font-size: 20px !important;
  }
}
@media (max-width: 560px) {
  .card-overlay-paragraph {
    font-size: 10px;
  }
}
.card-overlay-btn {
  font-size: 20px;
}
@media (max-width: 920px) {
  .card-overlay-btn {
    max-width: 80px;
  }
}
@media (max-width: 560px) {
  .card-overlay-btn {
    max-width: 50px;
    max-height: 20px;
    font-size: 8px;
  }
}
.card-overlay-btn:hover {
  color: green !important;
  background-color: #ffffff !important;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

/*# sourceMappingURL=main.css.map */
