
$size:10px;

$colors: (
  dark: #262626,
  pure-dark : #000,
  primary: rgb(167, 164, 17),
  orng: orange,
  light: #ffffff,

);
@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centering($topValue){
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Kufam', cursive;
}


body {
      background: map-get($colors, dark );
    }
    
    