$num:1;
$size:10px;

$colors: (
  dark: #262626,
  pure-dark : #000,
  primary: rgb(167, 164, 17),
  orng: orange,
  light: #ffffff,
  gld: gold,
  grn: green,
);

@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centering($topValue){
  position: absolute;
  top: $topValue;
  left: $num*50%;
  transform: translate( -$num*50%, -$num*50%);
}

@mixin w-h {
  width: 100%;
  height: 100%;
}

* {
    padding: $num*0;
    margin: $num*0;
    font-family: 'Kufam', cursive;
}


body {
      background: map-get($colors, dark );
    }
  