.logo {
    @include flexLayout;
    font-size: 70px;
    color: map-get($colors, primary);


    .logo-img {
        border-radius: 15px;
        height: 100px;
        width: 100px;
        margin: 5px;

    }
}

.logo-text {
    @include flexLayout;
    flex-direction: column;
    text-align: center;

    &:hover {
        color: map-get($colors, orange);
    }
}