.hamburger-menu{
    width: $size*4;
    height: $size*4;
    position:fixed;
    top: $num*4%;
    right: $num*3%;
    z-index: 300;

    .menu{
        @include w-h;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: map-get($colors, orng );
        cursor: pointer;
        transition: transform .5s;


        &-line{
            width: $num*100%;
            height: $size*.4;
            background-color: map-get($colors, light );
            transition: all .5s .5s;
            transform-origin: right;
        }
    }
}


.logo {
    @include flexLayout;
    font-size: $size*$num*7;
    color: map-get($colors, primary);


    .logo-img {
        border-radius: $size*$num*1.5;
        height: $size*$num*10;
        width: $size*$num*10;
        margin: $size*$num*0.5;

    }
}

.logo-text {
    @include flexLayout;
    flex-direction: column;
    text-align: center;
    text-shadow: $size*.5 $size*.5 map-get($colors, pure-dark );

    &:hover {
        color: map-get($colors, orng);
    }
    h1{
        font-weight: bold;
    }
}

.card{
    width: 33.33% ;
    height: 30vw;
    position: relative;
    overflow: hidden;

    &:hover .card-overlay{
        left: 0;
    }

    &-overlay{
        @include w-h;
        @include flexLayout;
        flex-direction: column; 
        position: absolute;
        top: 0;
        left: -$num*100%;
        background-color: rgba( map-get($colors,primary) , .6);
        color: map-get($colors, light );
        z-index: 10;
        transition: left .5s;
        
        &-heading{
            font-size: $num*$size*5;
            @include mediaA920;
            @include mediaA560;


        }

        &-paragraph{
            font-size: $num*$size*3;
            margin-bottom: $num*$size*2;
            @include mediaB920;
            @include mediaB560;


        }

        &-btn{
            @include mediaBtn920;
            @include mediaBtn560;
            font-size: $num*$size*2;
            
            &:hover {
                color: map-get($colors, grn) !important;
                background-color: map-get($colors, light) !important;

            }
        }
    }

    &-img{
        @include w-h; 
        object-fit: cover;
        opacity: 0.5;

    }
}