.header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(map-get($colors, pure-dark), 0.8),rgba(map-get($colors, pure-dark), 0.5)),url("../images/bg.jpg") center no-repeat;
    background-size: cover;
    .brand{
     @include centering(15%);
     color: map-get($colors , orng );
    }
    &-banner{
        @include centering(50%);
        text-align: center;
        color: map-get($colors, light );
        &:hover{
            color: map-get($colors, orng );
        }
        button{
            background-color: map-get($colors , orng );
        }
    }
}
