
.navbar{
    position: relative;
    z-index: 200;

    &-navigation{
        display: flex;

        &-left{
            width: 50vw;
            height: 100vh;
            background-color: map-get($colors, dark );
            position: fixed;
            left: 0;

            .left-img{
                width: $num*50%;
                position: absolute;
                box-shadow: 0 $size*1.5 $size*6 rgba(map-get($colors,pure-dark), .4);
                opacity: .7;
                border-radius: $size;
            }
            .left-img-1{
                top: 15%;
                left: 15%;
            }
            .left-img-2{
                top: 35%;
                left: 25%;
            }
            .left-img-3{
                top: 55%;
                left: 35%;
            }
        }

        &-right{
            width: 50vw;
            height: 100vh;
            background-color: map-get($colors, pure-dark );
            position: fixed;
            right: 0;
            @include flexLayout;
        }

        .nav-list{
            &-item{
                list-style: none;
            }

            &-link{
                font-size: $size*5;
                color: map-get($colors, light );
                text-decoration: none;
                display: block;
                margin: $size*2;
                text-align: center;
                transition: all .7s;
                &:hover{
                color: map-get($colors, orng );
                letter-spacing: $size*.4;
                }
            }
        }
    }
}


.header{
    width: $num*100%;
    height: $num*100vh;
    position: relative;
    background: linear-gradient(rgba(map-get($colors, pure-dark), $num*0.8),rgba(map-get($colors, pure-dark), $num*0.5)),url("../images/bg.jpg") center no-repeat;
    background-size: cover;
    .brand{
     @include centering($num*20%);
     color: map-get($colors , orng );
    }
    &-banner{
        @include centering($num*50%);
        text-align: center;
        color: map-get($colors, orng );
        &:hover{
            color: map-get($colors, light );
        }
        button{
            background-color: map-get($colors , orng );
            color: map-get($colors, light );
            &:hover{
            color: map-get($colors , orng );
            background-color: map-get($colors , light );
            }
        }
    }
}


.about-us{
    height: $num*90vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: $size*$num*2;
    &-left{
        img{
            width: $size*$num*8;
            height: $size*$num*8;
        }
    }
.stars{
    h5{
        margin: $num*0;
    }
    }
    .star{
        color:map-get($colors, gld );
    }
    button{
        margin-top: $size*$num*1;
        color: map-get($colors, light );
        &:hover{
            color: map-get($colors , orng );
            background-color: map-get($colors , light );
            }
    }
}
.gallery{
    .cards-wrapper{
        display: flex;
        flex-wrap: wrap;

    }
}
.footer{
    padding: $num*$size*7 0;
    @include flexLayout;
    flex-direction: column;

    &-header{
        display: flex;
        align-items: center;
        padding-bottom: $num*$size*7;
    }

    &-social-media{
        display: flex;
        width: $num*$size*30;
        justify-content: space-between;
        margin-bottom: $num*$size*7;
       
    &-item{
        list-style: none;
    }
    &-link{
        text-decoration: none;
    }

    }
}