.header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba($color-black, 0.8),rgba($color-black, 0.5)),url("../images/bg.jpg") center no-repeat;
    background-size: cover;
    .brand{
     position: absolute;
     top: 15%;
     left: 50%;
     transform: translate(-50%,-50%);
     color: white;
    }
}
